.header {
    width: 100%;
    height: 200px;
    background-color: red;
}

.container {
    height: 500px;
    width: 100%;
}

.navi {
    height: 300px;
    width: 150px;
    background-color: blue;
    float: left;
}


.article {
    height: 300px;
    width: 100%; 
    background-color: yellow;
    float: right;
}